@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.rbc-event {
  transition:
    opacity 200ms ease,
    transform 200ms ease,
    box-shadow 200ms ease;
}

.rbc-event:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  opacity: 1;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
